.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    color: rgb(0, 0, 0);
    padding: 1rem;
    width: 1913px;
    height: 38px;
    overflow: hidden;
  }
  
  .left-block,
  .right-block {
    margin-top: -3rem;
    padding: 0.5rem;
  }
  .left-block {
    width: 168px;
    height: 16px;
    top: 11px;
    left: 67px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-align: left;
  }
  
  .right-block {
    width: 28px;
    height: 16px;
    top: 11px;
    left: 1818px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-align: right;
    margin-right: 2rem;
  }
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }
  
    .left-block,
    .right-block {
      margin-top: 0.5rem;
    }
  }
  